@import './variables.scss';

.#{$prefix-cls}-toolbar {
  user-select: none;
  position: absolute;
  overflow: hidden;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.9;
  display: flex;
  background-color: rgb(45, 45, 45);
  border-radius: 4px;
  padding: 0;

  .toolbar-btn {
    user-select: none;
    flex-shrink: 0;
    cursor: pointer;
    padding: 6px 10px;
    font-size: 20px;
    color: #fff;
    background-color: #2d2d2d;
    -webkit-tap-highlight-color: transparent;
    outline: none;

    &:hover,
    &:active {
      background-color: rgb(61, 61, 61);
    }
  }
}
